
<!--**************************************************-->
<!--**************************************************-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css">-->

<div class="row">

  <div class="column1">

    <div class="card">

      <div class="announces-button-div">
        <button class="announces-button" (click)="clickAnnounces()">
          <i class="fa fa-newspaper-o fa-newspaper-o"><a class="announces-title"> ANUNTURI</a></i>
        </button>
      </div>

      <div class="add-refugee-button-div">
        <button class="add-refugee-button" (click)="clickAddRefugee()">
          <i class="fa fa-user-plus" aria-hidden="true"><a class="add-refugee-title"> ADAUGA REFUGIAT</a></i>
        </button>
      </div>

      <div class="list-refugee-button-div">
        <button class="list-refugee-button" (click)="clickListRefugee()">
          <i class="fa fa-users fa-users"><a class="list-refugee-title"> LISTA REFUGIATI</a></i>
        </button>
      </div>

      <div class="saved-connections-button-div">
        <button class="saved-connections-button" (click)="clickSavedConnections()">
          <i class="fa fa-home fa-home"><a class="saved-connections-title"> CAZARI SALVATE</a></i>
        </button>
      </div>

      <div class="logout-div">
        <button class="logout" (click)="clickLogout()">
          <i class="fa fa-sign-out fa-sign-out"><a class="logout-title"> LOG OUT</a></i>
        </button>
      </div>
    </div>
  </div>

  <!--**************************************************-->
  <!--**************************************************-->
  <div class="column2">

    <button class="view-profile-button">
      <i class="fa fa-user fa-user"><a class="view-profile-title"> {{nameUser}}</a></i>
    </button>

    <table class="table">
      <tr class="header-table">
        <th class="header-title1">Nume</th>
        <th class="header-title2">Nr. persoane</th>
        <th class="header-title3">Contact</th>
        <th class="header-title4"></th>
      </tr>
      <ng-container *ngFor="let ref of refugees">
        <tr class="row" [ngStyle]="{'background-color':ref.accepted === true ? 'rgb(225, 193, 77)' : 'rgb(251, 249, 249)' }">
          <td class="content">{{ref.name}}</td>
          <td class="content2">{{ref.nr}}</td>
          <td class="content3">{{ref.phone}}</td>
          <td>
            <button class="edit-button" (click)="clickEditDialog(ref)">
              <i class="fa fa-edit fa-edit"></i>
            </button>

            <button class="delete-button" (click)="clickDeleteDialog(ref)">
              <i class="fa fa-trash fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-container>
    </table>

  </div>
</div>

