.card {
  height: 620px;
  width: 380px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: rgb(162, 221, 217);
  border-radius: 35px;

}

.card-title {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.card-title-div {
  margin-left: auto;
  margin-right: auto;
}



textarea:focus, input:focus {
  font-size: 17px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
}

input, select, textarea{
  font-size: 17px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
}



/*****************  input model   *******************/
.input {
  height: 50px;
  width: 320px;
  margin-top: 30px;
  border: 0px;
  border-radius: 15px;
}

.input:focus {
  outline: none !important;
  border:1px solid rgba(6, 111, 111, 0.79);
  box-shadow: 0 0 3px rgba(6, 111, 111, 0.79);
}

.floating-label-name {
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 67px;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
  transition: 0.2s ease all;
  font-weight: bold;
}

.floating-label-email {
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 149px;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
  transition: 0.2s ease all;
  font-weight: bold;
}

.floating-label-phone {
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 231px;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
  transition: 0.2s ease all;
  font-weight: bold;
}

.floating-label-sex {
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 313px;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
  transition: 0.2s ease all;
  font-weight: bold;
}


.floating-label-password {
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 395px;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
  transition: 0.2s ease all;
  font-weight: bold;
}

.floating-label-repeat-password {
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 477px;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
  transition: 0.2s ease all;
  font-weight: bold;
}


.register-button {
  height: 50px;
  width: 180px;
  margin-top: 35px;
  border: 0px;
  border-radius: 15px;
  background: rgb(6, 111, 111);
  cursor:pointer;
}

.register-button:hover {
  background: rgb(6, 91, 91);
}

.register-button-div {
  margin-left: 100px;
}

.button-text {
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
