.card {
  background: rgb(162, 221, 217);
  width: 280px;
  height: 753px;
  margin-left: -8px;
  margin-top: -8px;
}

.announces-button-div {

  padding-top: 100px;
}

.announces-button {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-size: 24px;
  color: rgb(6, 111, 111);

  font-weight: bold;
  background: rgb(162, 221, 217);
  border: none;
  height: 80px;
  border-radius: 35px;
  width: 280px;
  cursor:pointer;
}

.announces-button:hover {
  background: rgb(100, 189, 183);
}

.fa-newspaper-o {
  margin-left: -107px;
}


.announces-title {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-weight: bold;
}


.add-refugee-button-div {
  /*padding-top: 25px;*/
}

.add-refugee-button {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-size: 24px;
  color: white;
  font-weight: bold;
  background: rgb(6, 111, 111);
  border: none;
  height: 80px;
  border-radius: 35px;
  cursor:pointer;
}

.add-refugee-title {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-weight: bold;
}

.list-refugee-button-div {

}

.list-refugee-button {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-size: 24px;
  color: rgb(6, 111, 111);
  font-weight: bold;
  background: rgb(162, 221, 217);
  border: none;
  height: 80px;
  border-radius: 35px;
  width: 280px;
  cursor:pointer;
}

.list-refugee-title {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-weight: bold;
}

.list-refugee-button:hover {
  background: rgb(100, 189, 183);
}

.fa-users {
  margin-left: -40px;
}

.saved-connections-button-div {

}

.saved-connections-button {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-size: 24px;
  color: rgb(6, 111, 111);
  font-weight: bold;
  background: rgb(162, 221, 217);
  border: none;
  height: 80px;
  border-radius: 35px;
  width: 280px;
  cursor:pointer;
}

.saved-connections-title {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-weight: bold;
}

.saved-connections-button:hover {
  background: rgb(100, 189, 183);
}

.fa-home {
  margin-left: -40px;
}

.logout-div {
  padding-top: 200px;
}

.logout {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-size: 24px;
  color: rgb(6, 111, 111);
  font-weight: bold;
  background: rgb(162, 221, 217);
  border: none;
  height: 80px;
  border-radius: 35px;
  width: 280px;
  cursor:pointer;
}

.logout-title {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-weight: bold;
}

.logout:hover {
  background: rgb(100, 189, 183);
}

.fa-sign-out {
  margin-left: -130px;
}

.view-profile-button {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-size: 24px;
  color: rgb(107, 187, 182);
  font-weight: bold;
  background: rgb(255, 255, 255);
  border: none;
  height: 80px;
  border-radius: 35px;
  width: 280px;
  cursor:pointer;
  margin-left: 130px;
}

.view-profile-button:hover {
  font-size: 25px;
}

.view-profile-title {
  font-family: "Segoe UISegoe UI", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

/*************/
/*************/
.column1 {
  float: left;
  /*width: 25%;*/
  padding: 0 10px;
}

.column2 {
  float: left;
  /*width: 25%;*/
  height: 300px;
}

.column3 {
  float: left;
}

.row {margin: 0 -10px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*************/
/*************/


.card-add-refugee {
  height: 400px;
  width: 380px;
  display: block;
  margin-right: auto;
  margin-top: 160px;
  background: rgb(162, 221, 217);
  border-radius: 35px;
  margin-left: 400px;
}

.cardd {
  padding: 20px;
}
.card-title {
  padding-top: 20PX;
  font-family: "Segoe UISegoe UI", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}

.card-title-div {
  margin-left: auto;
  margin-right: auto;
}


textarea:focus, input:focus {
  font-size: 17px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
}

input, select, textarea{
  font-size: 17px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
}

.input {
  height: 50px;
  width: 320px;
  margin-top: 30px;
  border: 0px;
  border-radius: 15px;
}

.input:focus {
  outline: none !important;
  border:1px solid rgba(6, 111, 111, 0.79);
  box-shadow: 0 0 3px rgba(6, 111, 111, 0.79);
}

.add-button {
  height: 50px;
  width: 180px;
  margin-top: 20px;
  border: 0px;
  border-radius: 15px;
  background: rgb(6, 111, 111);
  cursor:pointer;
}

.add-button:hover {
  background: rgb(6, 91, 91);
}

.add-button-div {
  margin-left: 100px;
}

.button-text {
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.floating-label-name {
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 108px;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
  transition: 0.2s ease all;
  font-weight: bold;
}

.floating-label-noPeople {
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 190px;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
  transition: 0.2s ease all;
  font-weight: bold;
}

.floating-label-phone {
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 272px;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(10, 159, 159);
  transition: 0.2s ease all;
  font-weight: bold;
}
