
<!--**************************************************-->
<!--**************************************************-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">

  <div class="column1">

    <div class="card">

      <div class="announces-button-div">
        <button class="announces-button" (click)="clickMyAnnounces()">
          <i class="fa fa-newspaper-o fa-newspaper-o"><a class="announces-title"> ANUNTURILE MELE</a></i>
        </button>
      </div>

      <div class="add-announce-button-div">
        <button class="add-announce-button" (click)="clickAddAnnounce()">
          <i class="fa fa-plus"><a class="add-announce-title"> ADAUGA ANUNT</a></i>
        </button>
      </div>

      <div class="logout-div">
        <button class="logout" (click)="clickLogout()">
          <i class="fa fa-sign-out fa-sign-out"><a class="logout-title"> LOG OUT</a></i>
        </button>
      </div>
    </div>
  </div>

  <!--**************************************************-->
  <!--**************************************************-->
  <div class="column2">

    <button class="view-profile-button" (click)="clickViewProfile()">
      <i class="fa fa-user fa-user"><a class="view-profile-title"> {{nameUser}}</a></i>
    </button>
    <br>

    <p class="add-announce-title-title">ADAUGA ANUNT</p>

    <mat-card class="card-edit">

      <div class="separator"></div>

      <div style="text-align:center;">
        <input type="text" class="input" [(ngModel)]="title" required>
        <label class="floating-label-title">title</label>
      </div>

      <div style="text-align:center;">
        <input type="text" class="input" [(ngModel)]="noPers" required>
        <label class="floating-label-noPers">nr. persoane</label>
      </div>

      <div style="text-align:center;">
        <textarea  type="text" class="input" [(ngModel)]="description" required></textarea>
        <label class="floating-label-description">descriere</label>
      </div>

      <div class="add-button-div">
        <button (click)="clickAdd()" class="add-button">
          <a class="button-text">ADAUGA</a>
        </button>
      </div>

    </mat-card>

  </div>
</div>
